{extend name="common/base" /}
{block name="title"}用户管理{/block}
{block name="css"}
<link href="{__ADMIN_JS__}js/bootstrap-table/bootstrap-table.min.css" rel="stylesheet">
<link href="{__ADMIN_JS__}js/jquery-confirm/jquery-confirm.min.css" rel="stylesheet">
<link href="{__ADMIN_JS__}js/zTree_v3/css/materialDesignStyle/materialdesign.css" rel="stylesheet">
<link href="{__ADMIN_JS__}js/bootstrap-select/bootstrap-select.css" rel="stylesheet">
{/block}
{block name="body"}
<div class="container-fluid p-t-15">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">

                    <div id="toolbar2" class="toolbar-btn-action">
                        <button type="button" class="btn btn-primary m-r-5" data-toggle="modal" data-target="#exampleModalChange" data-whatever="0">新增</button>
                        <button type="button" class="btn btn-primary m-r-5" onclick="test()">删除</button>
                    </div>

                    <table id="tb_departments"></table>

                    <div class="modal fade" id="exampleModalChange" tabindex="-1" role="dialog" aria-labelledby="exampleModalChangeLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h6 class="modal-title" id="exampleModalChangeTitle">发送消息</h6>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <form onsubmit="return false" action="#!" method="post" id="form1">
                                        <input type="hidden" name="id" value="0">
                                        <div class="form-group">
                                            <label for="username" class="col-form-label">登录账号</label>
                                            <input type="text" class="form-control" id="username" name="username" placeholder="请输入登录账号">
                                        </div>
                                        <div class="form-group">
                                            <label for="nickname" class="col-form-label">账号昵称</label>
                                            <input type="text" class="form-control" id="nickname" name="nickname" placeholder="请输入账号昵称">
                                        </div>
                                        <div class="form-group">
                                            <label for="newpassword" class="col-form-label">新 密 码</label>
                                            <input type="password" class="form-control" id="newpassword" name="newpassword" placeholder="请输入新密码">
                                        </div>
                                        <div class="form-group">
                                            <label for="repassword" class="col-form-label">确认密码</label>
                                            <input type="password" class="form-control" id="repassword" name="repassword" placeholder="请再次输入新密码">
                                        </div>
                                        <div class="form-group">
                                            <label for="comments" class="col-form-label">所属角色</label>
                                            <div class="clearfix">
                                                <select class="form-control selectpicker" name="userEditRoleSel[]" id="userrole" multiple>
                                                    {foreach name="rolelist" item="a"}
                                                    <option value="{$a.id}" >{$a.title}</option>
                                                    {/foreach}
                                                </select>
                                            </div>
                                        </div>

                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
                                    <button type="button" class="btn btn-primary" onclick="post_submit()">保存</button>
                                </div>
                                </form>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>
{/block}
{block name="js"}
<script type="text/javascript" src="{__ADMIN_JS__}js/jquery-confirm/jquery-confirm.min.js"></script>
<script type="text/javascript" src="{__ADMIN_JS__}js/bootstrap-table/bootstrap-table.min.js"></script>
<script type="text/javascript" src="{__ADMIN_JS__}js/bootstrap-table/locale/bootstrap-table-zh-CN.min.js"></script>
<!--以下是tree-grid的使用示例-->
<link href="{__ADMIN_JS__}js/jquery-treegrid/jquery.treegrid.min.css" rel="stylesheet">
<script type="text/javascript" src="{__ADMIN_JS__}js/jquery-treegrid/jquery.treegrid.min.js"></script>
<script type="text/javascript" src="{__ADMIN_JS__}js/bootstrap-table/extensions/treegrid/bootstrap-table-treegrid.min.js"></script>
<script type="text/javascript" src="{__ADMIN_JS__}js/zTree_v3/js/jquery.ztree.all.min.js"></script>

<script type="text/javascript" src="{__ADMIN_JS__}js/bootstrap-select/bootstrap-select.min.js"></script>
<script type="text/javascript" src="{__ADMIN_JS__}js/bootstrap-select/i18n/defaults-zh_CN.min.js"></script>

<script type="text/javascript" src="{__ADMIN_JS__}js/tong/admin.js"></script>
{/block}
{block name="script"}
<script>
    // $('#customCheckboxInline2').prop('checked', true)
    // $('#customCheckboxInline1').prop('checked', true)
</script>
{/block}